<launch>
  <arg name="camera_name" value="16369091"/>

  <include file="$(find adaptive_lighting)/launch/pwm_driver.launch"/>

  <include file="$(find adaptive_lighting)/launch/linear_controller.launch">
    <arg name="device" value="$(arg camera_name)"/>
  </include>

  <include file="$(find flea3)/launch/single_node.launch">
    <arg name="device" value="$(arg camera_name)"/>
  </include>

</launch>
